.header {
  background-color: transparent;
  width: 100vw;
  height: 10em;
  display: flex;
  color: #fff;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}


.sticky {
  background: #fff;
  color: #000;
  border-bottom: 1px solid;
}

.bio-logo {
  width: 2.5rem;
}

.logo-img {
  margin: auto;
  text-align: center;
}

.logo-img h3 {
  font-size: 1.75rem;
}

.hamburger {
  font-size: 2.3rem;
  position: absolute;
  top: 1em;
  right: 3rem;
  color: #fff;
}

.stickyHam {
  color: #000;
}

.hamburger:hover {
  cursor: pointer;
}


