.header {
  /* background-color: rgb(243, 235, 235); */
  /* background-color: #e99497; */
  background-color: #fff;
  width: 100%;
  height: 10em;
  display: flex;
  color: #4a164d;
  /* color: #fff; */
  align-items: center;
}

.bio-logo {
  width: 6rem;
}

.logo-img {
  margin: auto;
  text-align: center;
}

.logo-img h3 {
  font-size: 1.75rem;
}

.hamburger {
  font-size: 2.3rem;
  position: absolute;
  top: 1em;
  right: 1rem;
  color: #4a164d;
}
